.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec
*.log
logs/
nohup.out
*.tmp
*.temp
*.swp
*.bak
*.old
build/
dist/
.eggs/
*.whl
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints/
jupyter_notebook_config.py
*.db
*.sqlite3
.env
*.env
pip-wheel-metadata/
__pypackages__/
.coverage
.tox/
.pytest_cache/
htmlcov/
.DS_Store
Thumbs.db
desktop.ini
